In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv1D, MaxPooling1D, Flatten, Dense, Dropout

In [7]:
pub = pd.read_csv('data/public_data.csv')
df = pub.copy()
df.head()

,rowID,season,periodID,day_in_period,hour,minute,holyday,weekday,ke,hupx,afrr_fel,afrr_le,mfrr_fel,mfrr_le,afrr,solar_becsult_dayahead,rendszerterheles_terv,target_flag,target_reg
0,0,1,18,0,0,0,False,2,899.343121,287.7194,0.0000,-103.196933,0.0,0.0,-212.845947,0.0,6514.140945,0.0,-100.188708
1,1,1,18,0,0,15,False,2,899.374587,287.7194,55.9286,-5.617200,0.0,0.0,263.427160,0.0,6482.184545,0.0,-100.292441
2,2,1,18,0,0,30,False,2,899.303875,287.7194,69.6826,-9.355800,0.0,0.0,273.927320,0.0,6310.363525,0.0,-100.059327
3,3,1,18,0,0,45,False,2,899.299787,287.7194,30.2718,-16.943567,0.0,0.0,132.621040,0.0,6158.798885,0.0,-100.045850
4,4,1,18,0,1,0,False,2,897.436947,283.6309,25.9714,-12.064167,0.0,0.0,151.888080,0.0,6137.148085,0.0,-104.954619

In [8]:
pub = pd.read_csv('data/public_data.csv')

def f(x):
    if x == 4:
        return "submit"
    elif x == 3:
        return "test"
    else:
        return "train"
    
df['train_test_validation']=df['day_in_period'].apply(f)

In [9]:
df['periodID'].nunique()

187

In [10]:
input_variables = ['hour', 'minute', 'holyday', 'weekday', 'ke','hupx',	'afrr_fel',	'afrr_le',	'mfrr_fel',	'mfrr_le',	'afrr',	'solar_becsult_dayahead','rendszerterheles_terv']

In [11]:
train_df = df[df['train_test_validation'] == 'train']
test_df = df[df['train_test_validation'] == 'test']
submit_df = df[df['train_test_validation'] == 'submit']

In [12]:
train_df.head()
train_df.count()

rowID                     53856
season                    53856
periodID                  53856
day_in_period             53856
hour                      53856
minute                    53856
holyday                   53856
weekday                   53856
ke                        53856
hupx                      53856
afrr_fel                  53856
afrr_le                   53856
mfrr_fel                  53856
mfrr_le                   53856
afrr                      53856
solar_becsult_dayahead    53856
rendszerterheles_terv     53856
target_flag               53856
target_reg                53856
train_test_validation     53856
dtype: int64

In [13]:
test_df.head()
test_df.count()

rowID                     17952
season                    17952
periodID                  17952
day_in_period             17952
hour                      17952
minute                    17952
holyday                   17952
weekday                   17952
ke                        17952
hupx                      17952
afrr_fel                  17952
afrr_le                   17952
mfrr_fel                  17952
mfrr_le                   17952
afrr                      17952
solar_becsult_dayahead    17952
rendszerterheles_terv     17952
target_flag               17952
target_reg                17952
train_test_validation     17952
dtype: int64

In [14]:
submit_df.head()
submit_df.count()

rowID                     17952
season                    17952
periodID                  17952
day_in_period             17952
hour                      17952
minute                    17952
holyday                   17952
weekday                   17952
ke                            0
hupx                          0
afrr_fel                      0
afrr_le                       0
mfrr_fel                      0
mfrr_le                       0
afrr                          0
solar_becsult_dayahead    17952
rendszerterheles_terv     17952
target_flag                   0
target_reg                    0
train_test_validation     17952
dtype: int64

In [15]:
X_train = train_df[input_variables].values
y_train = train_df['target_flag'].values
X_test = test_df[input_variables].values
y_test = test_df['target_flag'].values
X_submit = submit_df[input_variables].values

In [17]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape, X_submit.shape

((53856, 13), (53856,), (17952, 13), (17952,), (17952, 13))

In [18]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_submit = scaler.transform(X_submit)

(53856, 13)